* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: steelblue;
    height: 1in;
}

ul {
    background-color: steelblue;
    display: inline-block;
    list-style: none;
}